doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../style.css")
    body 
        #h.house 
            .shadows
                .shadow-a
                .shadow-b
            //-----------------------
            //-----------------------
            .al
                .al__front.face 
                .al__back.face 
                .al__right.face 
                .al__left.face 
                .al__top.face 
                .al__bottom.face 
            .ab
                .ab__front.face 
                .ab__back.face 
                .ab__right.face 
                .ab__left.face 
                .ab__top.face 
                .ab__bottom.face 
            .at
                .at__front.face 
                .at__back.face 
                .at__right.face 
                .at__left.face 
                .at__top.face 
                .at__bottom.face 
            .ac
                .ac__front.face 
                .ac__back.face 
                .ac__right.face 
                .ac__left.face 
                .ac__top.face 
                .ac__bottom.face 
            //-----------------------
            //-----------------------
            .bce
                .bce__front.face 
                .bce__back.face 
                .bce__right.face 
                .bce__left.face 
                .bce__top.face 
                .bce__bottom.face 
            .bci
                .bci__front.face 
                .bci__back.face 
                .bci__right.face 
                .bci__left.face 
                .bci__top.face 
                .bci__bottom.face 
            .bl
                .bl__front.face 
                .bl__back.face 
                .bl__right.face 
                .bl__left.face 
                .bl__top.face 
                .bl__bottom.face 
            .bt
                .bt__front.face 
                .bt__back.face 
                .bt__right.face 
                .bt__left.face 
                .bt__top.face 
                .bt__bottom.face 
            .bbe
                .bbe__front.face 
                .bbe__back.face 
                .bbe__right.face 
                .bbe__left.face 
                .bbe__top.face 
                .bbe__bottom.face 
            .bbi
                .bbi__front.face 
                .bbi__back.face 
                .bbi__right.face 
                .bbi__left.face 
                .bbi__top.face 
                .bbi__bottom.face 

            //-----------------------
            //-----------------------
            .cl
                .cl__front.face 
                    .lamp
                .cl__back.face 
                .cl__right.face 
                .cl__left.face 
                .cl__top.face 
                .cl__bottom.face 
            .cc
                .cc__front.face 
                .cc__back.face 
                .cc__right.face 
                .cc__left.face 
                .cc__top.face 
                .cc__bottom.face 
            .ccl
                .ccl__front.face 
                .ccl__back.face 
                .ccl__right.face 
                .ccl__left.face 
                .ccl__top.face 
                .ccl__bottom.face 
            .cml
                .cml__front.face 
                .cml__back.face 
                .cml__right.face 
                .cml__left.face 
                .cml__top.face 
                .cml__bottom.face 
            .cmr
                .cmr__front.face 
                .cmr__back.face 
                .cmr__right.face 
                .cmr__left.face 
                .cmr__top.face 
                .cmr__bottom.face 
            .cmt
                .cmt__front.face 
                .cmt__back.face 
                .cmt__right.face 
                .cmt__left.face 
                .cmt__top.face 
                .cmt__bottom.face 
            //-----------------------
            //-----------------------

            .dl
                .dl__front.face 
                .dl__back.face 
                .dl__right.face 
                .dl__left.face 
                .dl__top.face 
                .dl__bottom.face 
            .dm
                .dm__front.face 
                .dm__back.face 
                .dm__right.face 
                .dm__left.face 
                .dm__top.face 
                .dm__bottom.face 
            .dt
                .dt__front.face 
                .dt__back.face 
                .dt__right.face 
                .dt__left.face 
                .dt__top.face 
                .dt__bottom.face 
            //-----------------------            
            //-----------------------   

            .el: .el__front.face
            .ec: .ec__front.face
            .er: .er__right.face
            .eb: .eb__back.face
            //-----------------------            
            //-----------------------            
            .fl
                .fl__front.face 
                .fl__back.face 
                .fl__right.face 
                .fl__left.face 
                .fl__top.face 
                .fl__bottom.face 
            .ft
                .ft__front.face 
                .ft__back.face 
                .ft__right.face 
                .ft__left.face 
                .ft__top.face 
                .ft__bottom.face 
            .fb
                .fb__front.face 
                .fb__back.face 
                .fb__right.face 
                .fb__left.face 
                .fb__top.face 
                .fb__bottom.face 

            //-----------------------
            //-----------------------
            .table
                .table__front.face 
                .table__back.face 
                .table__right.face 
                .table__left.face 
                .table__top.face 
                .table__bottom.face 
                    .foot
                        .foot__front.face 
                        .foot__back.face 
                        .foot__right.face 
                        .foot__left.face 
                        .foot__top.face 
                        .foot__bottom.face 
                    .foot
                        .foot__front.face 
                        .foot__back.face 
                        .foot__right.face 
                        .foot__left.face 
                        .foot__top.face 
                        .foot__bottom.face 
                    .foot
                        .foot__front.face 
                        .foot__back.face 
                        .foot__right.face 
                        .foot__left.face 
                        .foot__top.face 
                        .foot__bottom.face 
                    .foot
                        .foot__front.face 
                        .foot__back.face 
                        .foot__right.face 
                        .foot__left.face 
                        .foot__top.face 
                        .foot__bottom.face 
            .kitchen
                .kitchen__front.face 
                .kitchen__back.face 
                .kitchen__right.face 
                .kitchen__left.face 
                .kitchen__top.face 
                .kitchen__bottom.face 
            .couch
                .couch__front.face 
                .couch__back.face 
                .couch__right.face 
                .couch__left.face 
                .couch__top.face 
                .couch__bottom.face 
            .couchb
                .couchb__front.face 
                .couchb__back.face 
                .couchb__right.face 
                .couchb__left.face 
                .couchb__top.face 
                .couchb__bottom.face 
            .couchc
                .couchc__front.face 
                .couchc__back.face 
                .couchc__right.face 
                .couchc__left.face 
                .couchc__top.face 
                .couchc__bottom.face 
            .couchd
                .couchd__front.face 
                .couchd__back.face 
                .couchd__right.face 
                .couchd__left.face 
                .couchd__top.face 
                .couchd__bottom.face 
            .picture
                .picture__front.face 
                .picture__back.face 
                .picture__right.face 
                .picture__left.face 
                .picture__top.face 
                .picture__bottom.face 
            .door-r
                .door-r__front.face 
                .door-r__back.face 
                .door-r__right.face 
                .door-r__left.face 
                .door-r__top.face 
                .door-r__bottom.face 
            .door-l
                .door-l__front.face 
                .door-l__back.face 
                .door-l__right.face 
                .door-l__left.face 
                .door-l__top.face 
                .door-l__bottom.face 
            .door-b
                .door-b__front.face 
                .door-b__back.face 
                .door-b__right.face 
                .door-b__left.face 
                .door-b__top.face 
                .door-b__bottom.face 
            .door-t
                .door-t__front.face 
                .door-t__back.face 
                .door-t__right.face 
                .door-t__left.face 
                .door-t__top.face 
                .door-t__bottom.face
        script(src="../script.js") 